/**
* Css for the add page
*/
*{
    margin: 0;
}
body{
    overflow: hidden;
    background-color: rgba(221,223,232,0.98);
    color: black;
}
header{                                 /*header is the top of the page contains the logo*/
    height: 2.3em;
    text-align: center;
    background-color: #222121;
    opacity: 0.8;
}

nav{                                    /*Nav is the navigation menu*/
    background-color: #222121;
    opacity: 0.8;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) ;
    height: 2.5em;
    text-align: center;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px black;
}
nav ul{
    text-decoration: none;
}
nav li{
    display: inline-block;
    font-size: 120%;
    color: white;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-right: 1.65em;
    margin-left: -1em;
    margin-top: 0.15em;
}
nav li:hover{
    background-color: white;
    color: black;
}
nav li:active{
    color: grey;
}
.activeLi{                      /* activeLi is the selected nav option */
    background-color: white;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}

.hide{
    visibility: hidden;
}

#searchField{                       /*Search field contains search bar and button*/
    float: left;
    margin-top: -2em;
}
#container{                         /*Big rectangular div that all the elements except header is put in */
    width: 80%;
    height: 25em;
    margin: auto;
    margin-top: 6%;
    background-color: white;
    -webkit-box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#searchResultContainer{             /*Container for the search result and the title for it*/
    float:left;
    height:100%;
    width:25%;
    margin-left: 1%;
    margin-top: 1%;
}
#searchResult{                      /*Contains all of the results*/
    height: 85%;
    margin-top:  0.5%;
    border: thin black solid;
    overflow:auto;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
#infoContainer{                     /*Static container that always on the right side*/
    float: left;
    margin-top:1%;
    margin-left:1%;
    width: 25%;
    height: 100%;
}
#information{                        /*Inside the infoContainer and displays information of the chosen entity */
    height: 85%;
    border: black solid thin;
    overflow-y: auto;
    word-wrap: break-word;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 90%;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.templateText:hover{
    opacity: 0.7;
    cursor:pointer;
}

.templateText{
    margin-top:1%;
}

.addButton{
    margin-top: 40%;
    margin-left: 40%;
}

.addButtonVariable{
    margin-top: 35%;
    margin-left: 65%;
}

.selected{                  /*The selected object*/
    font-weight: bold;
    font-size:130%;
}
/*Css for XML and SQL form*/
#dataContainer{
    margin-left: 1.5%;
    margin-top: 0.5%;
}
/*The different textArea divs that decides the size of the textAreas*/
textarea{
    width: 97%;
    resize: none;
}
/*SQL teaxtareas*/
#dbLocationTxt{
    height: 15%;
}
#queryTxt{
    height: 58%;
}
/*XML textAreas*/
#fileLocationTxt{
    height: 10%;
}
#regexpTxt{
    height:24%;
}
#replaceWithTxt{
    height: 33%;
}
#formData{
    margin-left: 1%;
}
/*End teaxtAreas */
/*Button css */
button{
    color:black;
    padding-left: 0.8em;
    padding-right: 0.8em;
    /*border-radius:5px;*/
    border:solid 1px lightgrey;
    background:white;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 6px 0px lightgrey;
    -moz-box-shadow: 0px 6px 0px lightgrey;
    box-shadow: 0px 6px 0px lightgrey;
}
button:active{
    -webkit-box-shadow: 0px 3px 0px lightgrey;
    -moz-box-shadow: 0px 3px 0px lightgrey;
    box-shadow: 0px 3px 0px lightgrey;
    position:relative;
    top:3px;
}