/**
* Css for the add page
*/
*{
    margin: 0;
}
body{
    overflow: hidden;
    color: black;
}
header{                                 /*header is the top of the page contains the logo*/
    height: 2.3em;
    text-align: center;
}

nav{                                    /*Nav is the navigation menu*/
    border-bottom: thin solid black;
    height: 2.5em;
    width: 100%;
    text-align: center;
}
nav ul{
    text-decoration: none;
}
nav li{
    position: relative;
    top:0.96em;
    display: inline;
    font-size: 120%;
    padding-left: 2.5%;
    padding-top: 1%;
    padding-right: 2.5%;
    border-left: thin solid black;
    border-top: thin solid black;
    border-right: thin solid black;
    background-color: grey;
    margin-left: 5%;
    margin-right: 5%;
}
nav li:hover{
    background-color: rgba(188,188,199,0.98);
}
nav li:active{
    color: white;
}
.activeLi{
    padding-left: 3%;
    padding-top: 1.2%;
    padding-right: 3%;
    background-color: rgba(188,188,199,0.98);
}
a{
    text-decoration: none;
    color: black;
}

.hide{
    visibility: hidden;
}

#searchField{                       /*Search field contains search bar and button*/
    float: left;
    margin-top: -2em;
}
#container{                 /*Big rectangular div that all the elements except header is put in */
    width: 80%;
    height: 25em;
    margin: auto;
    border: thin solid black;
    margin-top: 6%;
}
#searchResultContainer{
    float:left;
    height:100%;
    width:25%;
    margin-left: 1%;
    margin-top: 1%;
}
#searchResult{
    height: 85%;
    margin-top:  0.5%;
    border: thin black solid;
    overflow:auto;
}
#infoContainer{                     /*Static container that always on the right side*/
    float: left;
    margin-top:1%;
    margin-left:1%;
    width: 25%;
    height: 100%;
}
#information{                        /*Inside the infoContainer and displays information of the chosen entity */
    height: 85%;
    border: black solid thin;
    overflow-y: auto;
    word-wrap: break-word;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 90%;
}

.templateText:hover{
    opacity: 0.7;
    cursor:pointer;
}

.templateText{
    margin-top:1%;
}

.addButton{
    margin-top: 40%;
    margin-left: 40%;
}

.selected{
    font-weight: bold;
    font-size:130%;
}
/*Css for XML and SQL form*/
#dataContainer{
    margin-left: 1.5%;
    margin-top: 0.5%;
}
/*The different textArea divs that decides the size of the textAreas*/
textarea{
    width: 97%;
    resize: none;
}
/*SQL teaxtareas*/
#dbLocationTxt{
    height: 15%;
}
#queryTxt{
    height: 58%;
}
/*XML textAreas*/
#fileLocationTxt{
    height: 10%;
}
#regexpTxt{
    height:24%;
}
#replaceWithTxt{
    height: 33%;
}
/*End teaxtAreas */