*{
    margin: 0;
}
body{
    overflow: hidden;
    background-color: rgba(221,223,232,0.98);
    color: black;
}
header{
    height: 3.5em;
    background-color: #222121;
    opacity: 0.8;
}
a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0px black; /* #329736*/
}
a:visited{
    color: white;
}
#headerTitle{                       /*Title of the website*/
    font-family: Arial Black;
    font-size: 2em;
    margin-left: 1em;
    margin-top: 0.2em;
    float: left;
}
#searchField{                       /*Search field contains search bar and button*/
    float: left;
    margin-top: 1.3em;
    margin-left: 2em;
}
#usernameDisplay{                   /*Div tag to show the logged in username*/
    float: right;
    margin-top: 1.55em;
    margin-right: 2em;
    width: 9%;
    color: white;
    text-align: center;
}
#logout{                            /*Logout button div tag*/
    float: right;
    margin-top: -2.50em;
    margin-right: 4.2em;
}
nav{                                /*Navigation field */
    background-color: #222121;
    opacity: 0.8;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) ;
}
li{
    display: inline-block;
    font-size: 1.4em;
    color: white;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-right: 1.65em;
    margin-left: -1em;
}
li:hover{
    background-color: white;
    color: black;
    cursor: hand;
}
li:active{
    color: grey;
}
.activeNav{                         /*Shows which type the user want to see */
    background-color: white;
    color: black;
}
#container{                         /*Holds together all the templates*/
    font-family: helvetica,arial,sans-serif;
    clear:both;
    margin: auto;
    height: 100%;
}
#searchContainer{
    float:left;
    height:100%;
    width: 35%;
}
/*Button css */
button{
    color:black;
    padding-left: 0.8em;
    padding-right: 0.8em;
    /*border-radius:5px;*/
    border:solid 1px lightgrey;
    background:white;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 3px 0px lightgrey;
    -moz-box-shadow: 0px 3px 0px lightgrey;
    box-shadow: 0px 3px 0px lightgrey;
}
button:active{
     -webkit-box-shadow: 0px 2px 0px lightgrey;
     -moz-box-shadow: 0px 2px 0px lightgrey;
     box-shadow: 0px 2px 0px lightgrey;
     position:relative;
     top:2px;
 }
#searchInfo{
    height: 68%;
    margin-top: 0.5%;
    overflow-y: auto;
    background-color: white;
    -webkit-box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
#resultContainer{                   /*Holds the templates that the information will be shown in */
    float: left;
    margin-top:3%;
    margin-left: 2%;
    height: 100%;
    width: 68%;
}
#infoContainer{                     /*Static container that always on the right side*/
    float: left;
    margin-top:3%;
    width: 22%;
    height: 100%;
}
#infoHolder{                        /*Inside the infoContainer and displays information of the chosen entity */
    height: 68%;
    background-color: white;
    overflow-y: auto;
    word-wrap: break-word;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 90%;
    -webkit-box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.settingContainer{
    position: relative;
    bottom: 2em;
    height: 30%;
    text-align: right;
}
.infoImg{
    margin-right: 3%;
    cursor: pointer;
}
.infoImg:hover{
    opacity: 0.7;
}
.infoImg:active{
    opacity: 1;
}
.optionTitle{                       /*Title of the option that the user can see */
    text-align: center;
    font-size: 1.5em;
}

.template{
    height:100%;
    width:20%;
    float:left;
    margin-left:-1px;
    word-wrap: break-word;
    overflow: auto;
}
.dataDiv{
    height:100%;
    background-color: white;
}

.templateTitle{
    font-size: 200%;
}

.temporary{
    /*font-size: 120%;*/
    margin-left:5%;
    margin-top:3%;
}

.temporary:hover>img{
    visibility: visible;
    cursor: pointer;
}

.templateText{
    font-size: 120%;
    cursor:pointer;
    margin-left:5%;
    margin-top:3%;
}
.templateText:hover{
    color: rgba(138,138,142,0.98);
}
.templateText:hover>img
{
    visibility: visible;
}
.templateText>p:active{
    color:rgba(218,218,229,0.98);
}
.img{
    float:right;
    margin-top:2%;
    margin-right:2%;
    visibility: hidden;
}
.img:hover
{
    opacity: 0.7;
}
.addIcon{
    position:relative;
    bottom: 2em;
    /*margin-top:3%;*/
    margin-left:80%;
}

.addIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}

#templateContainer{                     /*Container that have title and infoTemplate */
    float: left;
    margin-left: 1%;
    width: 23%;
    height: 100%;
    word-wrap: break-word;
}

.infoTemplate{                          /*Info teamplate displays all data */
    height: 68%;
    background-color: white;
    /*margin-left: 10%;*/
    overflow-y: auto;
    word-wrap: break-word;
    font-size: 90%;
    -webkit-box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.extraRightBorder{                      /*Extra rightborder clas for div */
    /*border-right: solid thin black;*/
}
.divImgAdd{                             /*The div where the add image is placed */
    height: 10%;
}