*{
    margin: 0;
}
body{
    overflow: hidden;
    color: black;
}
header{
    height: 3.5em;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
#headerTitle{                       /*Title of the website*/
    font-family: Arial Black;
    font-size: 2em;
    margin-left: 1em;
    margin-top: 0.2em;
    float: left;
}
#searchField{                       /*Search field contains search bar and button*/
    float: left;
    margin-top: 1.3em;
    margin-left: 2em;
}
#usernameDisplay{                   /*Div tag to show the logged in username*/
    float: right;
    margin-top: 1.55em;
    margin-right: 2em;
    width: 8%;
    /*height: 20px;*/
    text-align: center;
}
#logout{                            /*Logout button div tag*/
    float: right;
    margin-top: -2.50em;
    margin-right: 4.2em;
}
nav{                                /*Navigation field */
    /*height: 1.7em;*/
    border-bottom: solid 5px black;
}
li{
    display: inline;
    font-size: 1.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 1.65em;
    margin-left: -1em;
}
li:hover{
    padding-bottom: 0.13em;
    border-bottom: solid yellow thick;
    cursor: hand;
}
li:active{
    color: grey;
}
.activeNav{                         /*Shows which type the user want to see */
    padding-bottom: 1px;
    border-bottom: solid green 5px;
}
#container{                         /*Holds together all the templates*/
    font-family: helvetica,arial,sans-serif;
    clear:both;
    margin: auto;
    height: 100%;
}
#searchContainer{
    float:left;
    height:100%;
    width: 30%;
}
#searchInfo{
    height: 100%;
    margin-top:  0.5%;
    border: thin black solid;
    overflow-y: auto;
}
#resultContainer{                   /*Holds the templates that the information will be shown in */
    float: left;
    margin-top:3%;
    margin-left: 2%;
    height: 100%;
    width: 68%;
}
#infoContainer{                     /*Static container that always on the right side*/
    float: left;
    margin-top:3%;
    width: 27%;
    height: 100%;
}
#infoHolder{                        /*Inside the infoContainer and displays information of the chosen entity */
    height: 60%;
    border-left: black solid thin;
    border-right: black solid thin;
    border-top: black solid thin;
    overflow-y: auto;
    word-wrap: break-word;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 90%;
}
.settingContainer{
    height: 30%;
    border-left: black solid thin;
    border-right: black solid thin;
    border-bottom: black solid thin;
    text-align: center;
}
.infoImg{
    margin-top: 3%;
    margin-left: 3%;
    cursor: pointer;
}
.infoImg:hover{
    opacity: 0.7;
}
.infoImg:active{
    opacity: 1;
}
.optionTitle{                       /*Title of the option that the user can see */
    text-align: center;
    font-size: 1.5em;
}

.template{
    height:100%;
    width:20%;
    float:left;
    margin-left:-1px;
    word-wrap: break-word;
    overflow: auto;
}
.dataDiv{
    height:100%;
    border:thin solid black;
}

.templateTitle{
    font-size: 200%;
}

.templateText{
    font-size: 120%;
    cursor:pointer;
    margin-left:5%;
    margin-top:3%;
}
.templateText:hover{
    color: rgba(138,138,142,0.98);
}
.templateText:hover>img
{
    visibility: visible;
}
.templateText>p:active{
    color:rgba(218,218,229,0.98);
}
.img{
    float:right;
    margin-top:2%;
    margin-right:2%;
    visibility: hidden;
}
.img:hover
{
    opacity: 0.7;
}
.addIcon{
    position:fixed;
    bottom:2%;
    margin-left:15%;
}

.addIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}

#templateContainer{                     /*Container that have title and infoTemplate */
    float: left;
    width: 30%;
    height: 100%;
    word-wrap: break-word;
}

.infoTemplate{                          /*Info teamplate displays all data */
    width: 100%;
    height: 68%;
    margin-top: 0.5%;
    border-left: solid black thin;
    border-top: solid black thin;
    overflow-y: auto;
    word-wrap: break-word;
    font-size: 90%;
}
.extraRightBorder{                      /*Extra rightborder clas for div */
    border-right: solid thin black;
}
.divImgAdd{                             /*The div where the add image is placed */
    height: 100%;
    width: 100%;
    border-left: black solid thin;
    /*text-align: right;*/
}