/* Some animation for the search field */
.input[type=search] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 150px;
}
#searchContainer{
    width: 100%;
    height: 10%;
    border-bottom: thin solid black;
}
#resultContainer{
    width: 100%;
    height: 90%;
}

#userContainer{
    width: 20%;
    height: 100%;
    border-right: thin solid black;
    position: relative;
    float: left;
    overflow-y: auto;
    border-bottom: thin black solid;
    /*background-color: blue;*/
}
#deviceContainer{
    width: 20%;
    height: 100%;
    border-right: thin solid black;
    /*background-color: red;*/
    position: relative;
    float: left;
    border-bottom: thin black solid;
}
#appContainer{
    width: 15%;
    height: 100%;
    border-right: thin solid black;
    position: relative;
    float: left;
    border-bottom: thin black solid;
    /*background-color: yellow;*/
}
#appSettingsContainer{
    width: 44.8%;
    height: 100%;
    position: relative;
    float: left;
    overflow-y: auto;
    border-bottom: thin black solid;
    /*background-color: green;*/
}

.clickable{
    cursor: pointer;
}

.txtArea{
    width: 100%;
    height: 30%;
}