/**
* Css for the setting page
*/
*{
    margin: 0;
}
body{
    background-color: rgba(221,223,232,0.98);
    color: black;
}
header{                                 /*header is the top of the page contains the logo*/
    height: 2.3em;
    text-align: center;
    background-color: #222121;
    opacity: 0.8;
}
nav{                                    /*Nav is the navigation menu*/
    background-color: #222121;
    opacity: 0.8;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) ;
    height: 2.5em;
    text-align: center;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px black;
}
nav ul{
    text-decoration: none;
}
nav li{
    display: inline-block;
    font-size: 120%;
    color: white;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-right: 1.65em;
    margin-left: -1em;
    margin-top: 0.15em;
}
nav li:hover{
    background-color: white;
    color: black;
}
nav li:active{
    color: grey;
}
.activeLi{
    background-color: white;
    color: black;
}
#container{                 /*Big rectangular div that all the elements except header and nav is put in */
    width: 87%;
    height: 24em;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    box-shadow: 1px 1px 9px 0 rgba(122,132,140,0.91) ;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
a{
    text-decoration: none;
    color: black;
}
#manageableData{            /*Container where all the data that the admin shall be able to change is displayed */
    float: left;
    width: 47%;
    height: 80%;
    padding-left: 1%;
    padding-top: 0.5%;
}
#staticData{                /*Static data that the admin cannot change */
    float: right;
    width: 47%;
    height: 80%;
    padding-left: 1%;
    padding-top: 0.5%;
}
#sqlAndXmlMenu{             /*Div that manages the menu for either sql or xml settings */
    width: 100%;
    height: 2em;
}
#sqlAndXmlMenu ul{
    text-decoration: none;
}
#sqlAndXmlMenu li{          /*Li in the sqlAndXMlMenu*/
    position: relative;
    left:6%;
    display: inline-block;
    color: black;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.42em;
    padding-bottom: 0.42em;

}
#sqlAndXmlMenu li:hover {
    background-color: #222121;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}
#sqlAndXmlMenu li:active{
    color: white;
}
#sqlAndXmlMenu .activeSqlXml{              /*Display the menu the uer is currently in */
    background-color: #222121;
    opacity: 0.8;
    color: white;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#settingMenu{                       /*Menu to the left where the user can choose which sql or xml to display in the textarea*/
    width: 15%;
    height: 80%;
    border-right: thin solid black;
    float: left;
}
#applicationContainer{              /*Displays the applications with xml or sql setting */
    margin-left: 1%;
    width: 95%;
    height: 49%;
    overflow: auto;
    border-bottom: thin solid black;
}
#settingContainer{                  /*Display which setting to choose*/
    margin-left: 1%;
    width: 95%;
    height: 49%;
    overflow: auto;
}
/*Text class for items in the settingContainer */
.textSettingMenu{

}
.textSettingMenu:hover{
    color: rgba(138,138,142,0.98);
    cursor: pointer;
}
.textSettingMenu:active{
    color:rgba(218,218,229,0.98);
}
/*End textSettingMenu */
#settingMenuBtnDiv{                 /*Div that position the button in the left menu */
    float: left;
    width: 15%;
    height: 20%;
    border-right: thin solid black;
    text-align: center;
}
#textAreaContainer{                 /*Manages the textArea */
    width: 84%;
    height: 100%;
    float: right;
}
/*The different textArea divs that decides the size of the textAreas*/
textarea{
    width: 97%;
    resize: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
/*SQL teaxtareas*/
#dbLocationTxt{
    height: 20%;
}
#queryTxt{
    height: 68%;
}
/*XML textAreas*/
#fileLocationTxt{
    height: 10%;
}
#regexpTxt{
    height:35%;
}
#replaceWithTxt{
    height: 39%;
}
/*End teaxtAreas */
.trashCanImg{
    float: right;
}
.trashCanImg:hover{
    opacity: 0.7;
}
/*Puts bold on the selected app*/
.selectedApp{
    font-weight: bold;
}
/*Puts bold on selected app*/
.selectedSetting{
    font-weight: bold;
}
.addIcon:hover{
    cursor:pointer;
    opacity: 0.7;
}
.addIcon:active{
    opacity: 1;
}
/*Button css */
button{
    color:black;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border:solid 1px lightgrey;
    background:white;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 6px 0px lightgrey;
    -moz-box-shadow: 0px 6px 0px lightgrey;
    box-shadow: 0px 6px 0px lightgrey;
}
button:active{
    -webkit-box-shadow: 0px 3px 0px lightgrey;
    -moz-box-shadow: 0px 3px 0px lightgrey;
    box-shadow: 0px 3px 0px lightgrey;
    position:relative;
    top:3px;
}