/**
* Css for the setting page
*/
*{
    margin: 0px;
}
body{
    color: black;
}
header{                                 /*header is the top of the page contains the logo*/
    height: 2.3em;
    text-align: center;
}
nav{                                    /*Nav is the navigation menu*/
    border-bottom: thin solid black;
    height: 2.5em;
    width: 100%;
    text-align: center;
}
nav ul{
    text-decoration: none;
}
nav li{
    position: relative;
    top:0.96em;
    display: inline;
    font-size: 120%;
    padding-left: 2.5%;
    padding-top: 1%;
    padding-right: 2.5%;
    border-left: thin solid black;
    border-top: thin solid black;
    border-right: thin solid black;
    background-color: grey;
    margin-left: 5%;
    margin-right: 5%;
}
nav li:hover{
    background-color: rgba(188,188,199,0.98);
}
nav li:active{
    color: white;
}
.activeLi{
    padding-left: 3%;
    padding-top: 1.2%;
    padding-right: 3%;
    background-color: rgba(188,188,199,0.98);
}

#container{                 /*Big rectangular div that all the elements except header and nav is put in */
    width: 87%;
    height: 24em;
    margin: auto;
    border: thin solid black;
    margin-top: 0%;
}
a{
    text-decoration: none;
    color: black;
}
#manageableData{            /*Container where all the data that the admin shall be able to change is displayed */
    float: left;
    width: 47%;
    height: 80%;
    padding-left: 1%;
    padding-top: 0.5%;
}
#staticData{                /*Static data that the admin cannot change */
    float: right;
    width: 47%;
    height: 80%;
    padding-left: 1%;
    padding-top: 0.5%;
}
#sqlAndXmlMenu{             /*Div that manages the menu for either sql or xml settings */
    width: 100%;
    height: 2em;
}
#sqlAndXmlMenu ul{
    text-decoration: none;
}
#sqlAndXmlMenu li{          /*Li in the sqlAndXMlMenu*/
    position: relative;
    top:0.89em;
    left: 5%;
    display: inline;
    font-size: 100%;
    padding-left: 1.5%;
    padding-top: 0.25%;
    padding-right: 1.5%;
    border-left: thin solid black;
    border-top: thin solid black;
    border-right: thin solid black;
    background-color: grey;
    margin-left: 5%;
    margin-right:0%;
}
#sqlAndXmlMenu li:hover {
    background-color: rgba(188, 188, 199, 0.98);
    cursor: pointer;
}
#sqlAndXmlMenu li:active{
    color: white;
}
#sqlAndXmlMenu .activeSqlXml{              /*Display the menu the uer is currently in */
    background-color: rgba(188,188,199,0.98);;
    padding-left: 1.75%;
    padding-top: 0.4%;
    padding-right: 1.75%;
}
#settingMenu{                       /*Menu to the left where the user can choose which sql or xml to display in the textarea*/
    width: 15%;
    height: 90%;
    border-right: thin solid black;
    float: left;
}
#applicationContainer{              /*Displays the applications with xml or sql setting */
    width: 95%;
    height: 49%;
    overflow: auto;
    border-bottom: thin solid black;
}
#settingContainer{                  /*Display which setting to choose*/
    width: 95%;
    height: 49%;
    overflow: auto;
}
/*Text class for items in the settingContainer */
.textSettingMenu{

}
.textSettingMenu:hover{
    color: rgba(138,138,142,0.98);
    cursor: pointer;
}
.textSettingMenu:active{
    color:rgba(218,218,229,0.98);
}
/*End textSettingMenu */
#settingMenuBtnDiv{                 /*Div that position the button in the left menu */
    float: left;
    width: 15%;
    height: 10%;
    border-right: thin solid black;
    text-align: center;
}
#textAreaContainer{                 /*Manages the textArea */
    width: 84%;
    height: 100%;
    float: right;
}
textarea{
    width: 99.4%;
    height: 98.4%;
}